<!DOCTYPE html>
<html>
<body>

    <h2>
        HTML FORMS
    </h2>

    <form action = "/submit" method="post">
        <label for="Science">Science:</label><br>
        <input type="text" id="Science" name="Science" value="0"><br>
        <label for="Maths">Maths:</label><br>
        <input type="text" id="Maths" name="Maths" value="0"><br><br>
        <label for="C">C:</label><br>
        <input type="text" id="C" name="C" value="0"><br><br>
        <label for="Data Science">Data Science:</label><br>
        <input type="text" id="Data Science" name="Data Science" value="0"><br><br>
        <input type="submit" value="submit">
    </form>

    <p> If you click "submit" button, the form-data will be sent to a page '/submit'</p>
    <h1>
        Welcome to My channel
    </h1>
</body>
</html>